

header{
    background-color: #f49c9c;
    margin-top: -12px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 8px;
    width: 100%;
    position: fixed;
    display:block;
    z-index: 1;
}

.judul{
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
}

.navbar{
    font-size: 16px;
}

.navbar-menu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f49c9c;
}

.navbar-item:hover{
    background-color: #fff7f7;
    transition-duration: 0.3s;
    border-radius: 8px;
}

.navbar-link:hover{
    color: #f49c9c !important;
}

.navbar-link{
    padding: 8px 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.navbar-drop{
    padding: 3px 12.8px;
}

.navbar-drop:hover{
    border-radius: 8px 8px 0px 0px !important;
}

.dropdown{
    position: relative;
}

.dropdown-icon{
    color: white;
    font-size: 16px;
}

.dropdown-menu{
    position: absolute;
    right: 0;
    background-color: #f49c9c;
    transform: scaleY(0);
    transition: transform 0.3s;
    transform-origin: top;
    border-radius: 0px 0px 8px 8px;
}

.dropdown:hover .dropdown-menu{
    transform: scaleY(1);
}

.dropdown-item{
    min-width: max-content;
}

.dropdown-item:hover{
    background-color: #fff7f7;
    transition-duration: 0.3s;
}

.dropdown-link:hover{
    color: #f49c9c !important;
}

.dropdown-link{
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 16px;
}

.content{
    padding-top: 106px;
    padding-left: 8px;
    padding-right: 8px;
}

.section-name{
    margin-top: 16px;
    color: black;
    background-color: #f0b2af;
    border-radius: 30px;
    width: 330px;
    font-size: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 30px;
    font-weight: bold;
}

.section-isi{
    margin-top: 16px;
    background-color: #f0d0c5;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: justify;
    width: 95.75%;
    border: 8px dashed #f49c9c;
}

.link-web{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 16px;
}

.kontak-pribadi{
    margin-left: 8px;
    margin-right: 16px;
    display: inline-block;
    font-size: 20px;
}

.section-about-me{
    margin-top: 16px;
    width: 880px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0d0c5;
    border: 8px dashed #f49c9c;
    border-radius: 30px;
}

.section-data{
    width: 58.5%;
    display: inline-block;
}

.section-data p{
    font-size: 20px;
    line-height: 0.8;
}

.section-about-img{
    width: 36%;
    display: inline-block;
    position: relative;
}

.section-about-img .image-hover{
    display: none;
}

.section-about-img:hover .image-hover{
    display: block;
    cursor: pointer;
}

.section-about-img img{
    border-radius: 20px;
    border: 8px dashed #f49c9c;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -97.5%);
}


.data-diri1{
    width: 120px;
    text-align: left;
    display: inline-block;
    margin-left: 28px;
}

.data-diri-titik-dua{
    display: inline-block;
}

.data-diri2{
    display: inline-block;
    text-align: left;
}

#toggleButton{
    background-color: #f49c9c;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 32px;
    border: 1px solid #f49c9c;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    color: white;
}

#toggleButton:hover{
    background-color: #fff7f7 !important;
    color: #f49c9c !important;
    border: 1px solid #f49c9c;
}

.img-setting2{
    width: 30% !important;
    display: inline-block;
    position: relative;
}

.img-setting2 img{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 8px dashed #f49c9c;
    width: 100%;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle button{
    background-color: #f49c9c;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f49c9c;
}

.middle a{
    color: white;
    text-decoration: none;
}

.middle a:hover{
    color: #f49c9c;
}

.img-setting2:hover img{
    opacity: 0.3;
    cursor: pointer;
}

.img-setting2:hover .middle{
    opacity: 1;
}

.middle:hover button{
    background-color: #fff7f7;
    color: #f49c9c;
    border: 1px solid #f49c9c;
}

.data-setting2{
    margin-left: 28px;
    width: 67% !important;
}

.left-position{
    margin-left: 0px !important;
    margin-right: 12px;
}

.flex-setting h2{
    display: inline-block;
}

.flex-setting h3{
    display: inline-block;
    text-align: right;
    margin-left: auto;
    font-size: 22px;
    justify-content: flex-end;
    font-weight: normal;
    line-height: 1.1;
}

.flex-setting{
    display: flex;
    margin-bottom: -16px;
}

.positionName{
    line-height: 0.5;
    font-style: italic;
    font-size: 20px;
}

.data-setting2 ul{
    line-height: 1.4;
}

.popupImage{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 9999;
}

.popupImage img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popupImage button{
    margin-top: 20px; 
    background-color: #f49c9c; 
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #f49c9c;
}

.popupImage button:hover{
    background-color: #fff7f7;
    border: 1px solid #f49c9c;
}

.data-setting2 p{
    line-height: 1.5;
    font-size: 16px;
    margin-top: -8px;
}

.non-italic{
    font-style: normal;
}

.data-setting3{
    width: fit-content;
}

.data-setting3 p{
    line-height: 1.5;
    font-size: 16px;
}

.heightPort2{
    height: 410px;
}

.heightPort5{
    height: 690px;
}

.heightCertif{
    height: 315px;
}

.heightWork{
    height: 370px;
}

.heightBinus{
    height: 340px;
}

.heightPahoa{
    height: 300px;
}

.heightDiab{
    height: 400px;
}

.heightcv{
    height: 390px;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lebar-judul{
    width: 800px;
}

.languages-format{
    font-size: 20px;
    width: 200px;
    display: inline-block;
}

.languages-format2{
    font-size: 20px;
    display: inline-block;
}

.posisi-tengah{
    margin-left: 20px;
    margin-bottom: -8px;
}

.skills-format{
    font-size: 20px;
    width: 256px;
    display: inline-block;
}

.card {
  width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star {
  font-size: 70px;
  cursor: pointer;
  color: lightgray;
}

.star:hover{
    color: gold;
}

.one, .two, .three, .four, .five{
    color: gold;
}

footer{
    margin-top: 28px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: -12px;
    margin-left: -8px;
    margin-right: -8px;
}

footer i{
    font-size: 40px;
    width: 50px;
}

footer a{
    color: white;
}

footer p{
    margin-top: 50px;
}